
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select page
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/intro">About</a>
      <a class="dropdown-item" routerLink="/culture">Culture</a>
      <a class="dropdown-item" routerLink="/encyclopedia">Encyclopedia</a>
      <a class="dropdown-item" routerLink="/events">Events</a>
      <a class="dropdown-item" routerLink="/projects">Projects</a>
      <a class="dropdown-item" routerLink="/casestudy">Case studies</a>
      <a class="dropdown-item"routerLink="/exam">Exam</a>
    </div>
  </div>
  <router-outlet></router-outlet>