
<form>
    <div class="intro">
    <div class="form-group">
        <h2 for="exampleFormControlTextarea1">{{clientName }} Culture</h2>
        <hr>
        <div><button type="button" class="btn btn-outline-danger" style="float:right;">Delete</button><br><br><br></div>
       
 
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{culture}}</textarea>
      </div>
      <div class="buttons">
        
        <button type="button" class="btn btn-outline-success" style="margin-right: 10px;">Save</button>
        <button type="button" class="btn btn-outline-danger" routerLink='/clientinfo'>Cancel</button>
      </div>
    </div>
</form>